.reportcard {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 1em;
    padding: 1.5em;
    width: 600px;
    height: 200px;
    cursor: pointer;
    color: rgb(0, 0, 0);
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    display: flex;
    flex-direction: column;
  }


  .reportcard-data {
    background-color: rgb(221, 250, 249);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 1em;
    padding: 1.5em;
    width: 600px;
    height: 130px;
    cursor: pointer;
    color: #0EB4B2;
    text-align: center;
    justify-content: center;
  }

  .page{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }